* {
  font-family: cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1250px;
  margin-inline: auto;
  padding-inline: 40px;
}

form {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form fieldset {
  padding: 20px;
}

form fieldset legend {
  font-weight: 600;
}

form input,
form textarea {
  padding: 5px;
  border: 1px solid #000;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form button {
  background: #fff;
  width: fit-content;
  padding: 5px 15px;
  border: 2px solid #000;
  box-shadow: 4px 5px 0 0 #000;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s all;
}

form button:hover {
  box-shadow: 2px 2px 0 0 #000;
}

.chart-labels ul {
  margin-block: 20px 10px;
  margin-left: 40px;
  display: flex;
  gap: 40px;
}

.chart-labels ul li {
  font-size: 16px;
}
